<% if @courses.present? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <%= course.name %>
            </td>
            <td>
              <%= link_to 'Enroll', enroll_path(course: course.id), method: :post  %>
            </td>
            <td>
              <%= course.description %>
            </td>
          </tr>
        <% end %>
  </tbody>
</table>
<% else %>
  <p>No courses found</p>
<% end %>
