<% if @courses.present? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

        <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %> <%= course.description %> <%= link_to 'Enroll', enroll_path(course: course.id), method: :post  %></td>
          </tr>
        <% end %>
  </tbody>
</table>
<% else %>
  <p>No courses found</p>
<% end %>
